* {
    margin: 0;
    padding: 0;
}


img {
    height: auto;
    width: 400px;
    border: 0.8px solid black;
}

body {
    line-height: 1.5;
    background-color: #F0FFF0;
    font-family: "Roboto", sans-serif;
}

.image-container {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

.menu ul{
    text-align: center;
    list-style: none;
}