*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}


img {
    height: auto;
    width: 400px;
    border: 0.8px solid black;
}

body {
    line-height: 1.5;
    background-color: #F0FFF0;
    font-family: "Roboto", sans-serif;
}

.image-container {
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin: 20px auto;
}

.menu ul{
    text-align: center;
    list-style: none;
}

.return-home {
    display: block;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;;
    padding: 5px;
    margin: 20px auto;
}

ul a {
    text-decoration: none;
}

nav {
    background-color: rgb(179, 243, 179);
    border: 2px solid lightblue;
    border-radius: 15px;
    margin: 5rem auto;
    width: 50%;
    max-width: 800px;
    padding: 1rem;
}