*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
  border: 0.8px solid black;
  width: 100%;
  max-width: 400px;
  height: auto;
}

body {
    line-height: 1.5;
    background-color: #F0FFF0;
    font-family: "Roboto", sans-serif;
}

.image-container {
    text-align: center;
}

h1, h2 {
    text-align: center;
    margin: 20px auto;
}

.menu {
    width: 30%;
    min-width: 300px;
}

.menu ul{
    text-align: center;
    list-style: none;
}

.return-home {
    display: block;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;;
    padding: 5px;
}

ul a {
    text-decoration: none;
}

nav {
    background-color: rgb(179, 243, 179);
    border: 2px solid lightblue;
    border-radius: 15px;
    margin: 5rem auto;
    width: 50%;
    max-width: 800px;
    padding: 1rem;
}

.ingredients-chicken,
.ingredients-lentil,
.ingredients-spaghetti {
    border: 2px solid lightblue;
    background-color: rgb(200, 245, 200);
    text-align: center;
    padding-bottom: 1rem;
    width: 300px;
    max-width: 800px;
    margin: 1rem auto;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.steps-chicken,
.steps-lentil,
.steps-spaghetti {
    border: 2px solid lightblue;
    background-color: rgb(200, 245, 200);
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

.description-chicken,
.description-lentil,
.description-spaghetti {
    border: 2px solid lightblue;
    background-color: rgb(200, 245, 200);
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

.flex-container-chicken,
.flex-container-lentil,
.flex-container-spaghetti {
    display: flex;
    justify-content: space-evenly;
}

.footer-spaghetti {
    border: 1px solid blue;
    margin: 20px;
    background-color: #B0EAFD;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}